
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: url('TOP-HEADER.jpg') center/cover no-repeat;
    background-size: cover;
    background-position: center;
    color: rgb(251, 251, 251);
    padding: 50px;
    text-align: center;
}
.title-text {
    font-size: 75px;
    font-weight: bold;
}

h2 {
    font-size: 2em; 
    margin: 0;
    font-style: italic;
}

nav {
    background-color: #000;
    padding: 7px;
    text-align: center; 
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: color 0.3s; /* Add smooth transition effect */
}

nav a:hover {
    color: #5f40ed; 
}


section {
    padding: 30px;
}


.video-container {
    text-align: center;
}

footer {
    background: url('TOP-HEADER.jpg') center/cover no-repeat;
    background-size: cover;
    background-position: center;
    color: rgb(251, 251, 251);
    padding: 20px;
    text-align: center;
    font-size: 14px; /* Adjust the font size for the footer text */
}
.centered-text {
    text-align: center;
  }

.round-corners-logo {
    border-radius: 4px;
}  

.signature {
    font-family: "Dancing Script", cursive;
    font-size: 25px;
}