* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif; /* Use your preferred font-family */
}

header {
  position: relative;
}

.header-image {
  display: block;
  width: 100%;
  height: auto;
}

.text-overlay {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #0c0b0b; /* Text color */
}

.header-name {
  font-size: 40px;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 10px; /* Optional: Adjust spacing between header name and title */
}

.head-title {
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
}
